### Trabalhando com dados

In [22]:
import pandas as pd
#pd.set_option('display.max_rows', 10) ## para mostrar a quantidade de linhas que eu quero
#pd.set_option('display.max_columns', 10) ## para mostrar a quantidade de colunas que eu quero

In [23]:
diretorio = '/home/usertqi/Documents/Estudos/Alura/Python//Dados/'

In [24]:

dataset = pd.read_csv(diretorio + 'db.csv', sep = ';')
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [25]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [26]:
dataset[['Quilometragem', 'Valor']].describe #gera informações estatisticas sobre as variavéis que você deseja analisar

<bound method NDFrame.describe of      Quilometragem      Valor
0          44410.0   88078.64
1           5712.0  106161.94
2          37123.0   72832.16
3              NaN  124549.07
4          25757.0   92612.10
..             ...        ...
253        27505.0   51759.58
254        29981.0   51667.06
255        52637.0   68934.03
256         7685.0  122110.90
257        50188.0   90381.47

[258 rows x 2 columns]>

In [27]:
dataset.info() #mostra informações referentes as colunas, quantidade de registros, tipo de dados e etc.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

### Trabalhando com Tuplas

Tuplas são sequências IMUTAVÉIS que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construidas de várias formas:
- Utilizando um par de parenteses: ()
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parentêses com itens separados por vírgulas: (1,2,3)
- Utilizando: tuple() ou tuple(iterador)

In [28]:
() #criando a tupla vazia

()

In [30]:
1,2,3 #cria uma tupla baseada nesses valores

(1, 2, 3)

In [31]:
nome = 'Passat'
valor = 15300
(nome, valor) #criação de tupla baseado em variavéis

('Passat', 15300)

In [32]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [33]:
type(nomes_carros)

tuple

In [34]:
nomes_carros[0] #acessando o primeiro valor da tupla

'Jetta Variant'

In [36]:
nomes_carros[-1]

'DS5'

In [38]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [39]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [41]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [42]:
nomes_carros[-1][1]

'Gol'

In [43]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [44]:
# Desempacotamento de tuplas
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [46]:
for item in nomes_carros:
    print(item)

Jetta Variant
Passat
Crossfox
DS5

In [48]:
#Desempacotamento de tuplas - pega os valores dentro de uma tupla e distribui entre as variavéis escolhidas, conforme exemplo abaixo: 
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [49]:
carro_1

'Jetta Variant'

In [51]:
# Quando eu não quero atribuir todos os valores da minha tupla, eu trabalho com o "_", para identificar quais valores dentro da tupla eu devo ignorar, por exemplo:

_, A, _, B = nomes_carros

In [54]:
A, B

('Passat', 'DS5')

In [55]:
_, C, *_ = nomes_carros #ignora o restante pra frente com o "*_"

In [56]:
C

'Passat'

### Função zip(): cria um iterador com tuplas

In [59]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [60]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [61]:
list(zip(carros, valores)) #cria uma tupla baseada em duas tuplas, conforme sequenciamento entre as duas.

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [62]:
for item in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [63]:
for carro, valor in zip(carros, valores):
    print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [64]:
for carro, valor in zip(carros, valores):
    if valor > 100000:
        print(carro)

Passat
DS5

In [78]:
# Observe que se trata de uma tupla (1º nível) com duas tuplas, que representam um conjunto de dados de dois veículos (2º nível), e que uma destas 
# informações (acessórios) vêm também dentro de uma tupla (3º nível). O que precisamos é iterar na tupla carros e imprimir todos os acessórios que aparecem. 
# O resultado desejado é o seguinte:

carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

# Assinale a alternativa com o código que produz este resultado.

In [79]:
# Solução: 
for tupla in carros:
   for item in tupla[-1]:
       print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

In [80]:
# Marque a alternativa com o código que possibilita a impressão dos nomes dos veículos com quilometragem abaixo de 20.000 km.
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [83]:
for carro, km in zip(nomes, kms): 
    if km < 20000:
        print(carro)

Passat
Crossfox
C4

### Trabalhando com dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenadas e utilizam índices (números inteiros) para acessar os valores.
Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamento são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (key) e o segundo como valor (value). 
* dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}

In [84]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
valores = [88078.64, 106161.94, 72832.16]
carros, valores

(['Jetta Variant', 'Passat', 'Crossfox'], [88078.64, 106161.94, 72832.16])

In [85]:
carros.index('Passat') #retorna o valor do indíce onde está o veiculo "Passat"

1

In [86]:
# Para encontrar o valor desse carro, na lista de valores, quando se trabalha com a estrutura de listas, teríamos a seguinte forma:

valores[carros.index('Passat')]

106161.94

In [87]:
# Criando um dicionário

dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [88]:
type(dados)

dict

In [89]:
# Criando dicionários com zip()

list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [108]:
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [97]:
## Operações com dicionários:

#dict(key): retorna o valor correspondente à chave (key) no dicionário.
dados['Passat']

#key in dict: retorna True se a chave (key) for encontrada no dicionário
'Passat' in dados #retorna True
'Fusca' in dados #retorna False

#len(dict): retorna o número de itens do dicionário
len(dados) #retorna a quantidade de pares:valores dentro de um dicionário

#dict[key] = value: inclui um item ao dicionário. 
dados['DS5'] = 124549.07

In [98]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [109]:
#del dict[key]: remove o item chave(key) do dicionário. 
del dados['Passat']

In [100]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [106]:
dados['Passat']['acessorios'][-1]

'ABS'

In [113]:
# Métodos de dicionários

# dict.update(): atualiza o dicionário.
dados
dados.update({'DS5': 124549.07})

In [117]:
dados.update({'DS5': 124549.08, 'Fusca': 15000.00})

In [118]:
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Passat': 106161.94,
 'DS5': 124549.08,
 'Fusca': 15000.0}

In [119]:
#dict.copy(): cria uma cópia do dicionário

dadosCopy = dados.copy()

In [121]:
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Passat': 106161.94,
 'DS5': 124549.08,
 'Fusca': 15000.0}

In [122]:
del dadosCopy['Fusca']

In [125]:
dadosCopy
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Passat': 106161.94,
 'DS5': 124549.08,
 'Fusca': 15000.0}

In [127]:
# dict.pop(key[,default]): se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como default é retornado. 
# Se o valor default não for fornecido e a chave não for encontrada no dicionário um erro será gerado. 

dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'Passat': 106161.94,
 'DS5': 124549.08}

In [128]:
dadosCopy.pop('Passat')

106161.94

In [129]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.08}

In [131]:
# dadosCopy.pop('Passat')
dadosCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [132]:
dadosCopy.pop('DS5', 'Chave não encontrada')

124549.08

In [133]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

In [134]:
#dict.clear(): remove todos os itens do dicionário

dadosCopy.clear()

In [135]:
dadosCopy

{}

In [136]:
dados = {'Jetta': 88000, 'Crossfox': 72000, 'DS5': 124000}

### Iterando em dicionários

In [141]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [144]:
#dict.keys(): retorna uma lista contendo as chaves (keys) do dicionário

dados.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta Variant', 'Passat'])

In [146]:
for key in dados.keys():
    print(dados[key])

72832.16
124549.07
150000
88078.64
106161.95

In [147]:
#dict.values(): retorna uma lista com todos os valores (values) d dicionário. 

dados.values()

dict_values([72832.16, 124549.07, 150000, 88078.64, 106161.95])

In [148]:
#dict.items(): retorna uma lista contendo uma tupla para cada par chave-valor (key-value) do dicionario.

dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.95)])

In [149]:
for item in dados.items():
    print(item)

('Crossfox', 72832.16)
('DS5', 124549.07)
('Fusca', 150000)
('Jetta Variant', 88078.64)
('Passat', 106161.95)

In [150]:
for key, value in dados.items():
    print(key, value)

Crossfox 72832.16
DS5 124549.07
Fusca 150000
Jetta Variant 88078.64
Passat 106161.95

In [151]:
for key, value in dados.items():
    if value > 100000:
        print(key)

DS5
Fusca
Passat

In [152]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [165]:
for item in dados.items():
    if item[1]['ano'] > 2000:
        print(item[0])

Crossfox
DS5
Jetta

### Funções

Funções são unidades de código reutilizavéis que realizam uma tarefa especifíca, podem receber alguma entrada e também podem retornar algum resultado. 

* Built-in function: A linguagem Python possui várias funções integradas que estão sempre acessíveis. Por exemplo, type(), print(), zip(), len(), set() e entre outras.

Documentação: https://docs.python.org/3.6/library/functions.html

In [166]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [167]:
valores = []
for valor in dados.values():
    valores.append(valor)

print(valores)

[88078.64, 106161.94, 72832.16]

In [168]:
soma = 0 
for valor in dados.values():
    soma += soma + valor

soma

637470.6000000001

In [170]:
sum(dados.values()))

267072.74

In [174]:
help(print) #escreve pra gente como funciona a função

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#### Definindo funções sem e com parametros:

In [178]:
# Funções sem parametros:

def media():
    valor = (1+2+3)/3
    print(valor)


# Funções com parametros:

def media(valor_1, valor_2, valor_3):
    valor = (valor_1+valor_2+valor_3)/3
    print(valor)

In [181]:
def media(lista):
    valor = sum(lista)/len(lista)
    print(valor)

In [189]:
media(list(range(1,10)))

5.0